<ion-header>
  <ion-navbar>
    <ion-title>Choose route</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <route-preview 
    *ngIf="currentPath" 
    [path]="currentPath"
    [markers]="markers"></route-preview>
  <div padding *ngIf="currentPath">
    <ion-card class="choose-route__path-info" padding-bottom>
      <div class="choose-route__path-info-head">
        <div class="choose-route__path-info-title">
          Route details
          <div>
            <small>({{ currentActivityIdx + 1 }}/{{activities.length }})</small>
          </div>
        </div>
        <div class="choose-route__path-info-buttons">
          <button ion-button (click)="back()" margin-right>
            <ion-icon name="arrow-back"></ion-icon>
          </button>
          <button ion-button (click)="next()">
            <ion-icon name="arrow-forward"></ion-icon>
          </button>
        </div>
      </div>
      <ion-grid [ngClass]="'choose-route__path-info-grid'">
        <ion-row>
          <ion-col>
            Distance (km)
          </ion-col>
          <ion-col>
            Time (min)
          </ion-col>
          <ion-col>
            Avg. speed (km/h)
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            {{ distance || '-' }}
          </ion-col>
          <ion-col>
            {{ time || '-' }}
          </ion-col>
          <ion-col>
            {{ avgSpeed || '-' }}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
</ion-content>

<ion-footer padding>
  <button 
    ion-button 
    full
    (click)="launchNavigation()">Launch navigation</button>
</ion-footer>
