<ion-content padding>
  <div class="home__tabs">
    <button 
      ion-button 
      [clear]="mode !== 'distance'"
      (click)="setMode('distance')">
      By Distance
    </button>
    <button 
      ion-button 
      [clear]="mode !== 'destination'"
      (click)="setMode('destination')">
      By Destination
    </button>
  </div>
  <div 
    class="home__form home__form--distance" 
    *ngIf="mode === 'distance'"
    margin-top>
    <ion-list no-lines>
      <ion-list-header>Provide a distance you want to ride (km)</ion-list-header>
      <ion-item>
        <ion-range mode="ios" min="1" max="200" step="1" [(ngModel)]="distance" color="primary" dualKnobs="true">
          <ion-label range-left>{{ distance.lower }} km</ion-label>
          <ion-label range-right>{{ distance.upper }} km</ion-label>
        </ion-range>
      </ion-item>
      
      <ion-list-header>
        Do you want to search path with return?
      </ion-list-header>
      <ion-item>
        <ion-label>Yes</ion-label>
        <ion-checkbox [(ngModel)]="withReturn"></ion-checkbox>
      </ion-item>
    </ion-list>
  </div>
  <div 
    class="home__form home__form-destination"
    *ngIf="mode === 'destination'"
    margin-top>
    <ion-list-header no-lines>
      Where you want to ride?
    </ion-list-header>
    <places-autocomplete 
      (callback)="placeSelected($event[0])" 
      key="AIzaSyDiLBpgYMpD6MLpyt-BMpPVWBdaQ8kUDnI"></places-autocomplete>
  </div>
  <div class="home__form-sex">
    <ion-list radio-group [(ngModel)]="gender" no-lines>
      <ion-list-header>
        Gender
      </ion-list-header>
    
      <ion-item>
        <ion-label>None</ion-label>
        <ion-radio value="none"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>Female</ion-label>
        <ion-radio value="m"></ion-radio>
      </ion-item>
    
      <ion-item>
        <ion-label>Male</ion-label>
        <ion-radio value="f"></ion-radio>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<ion-footer padding>
  <button 
    ion-button 
    icon-right 
    full
    (click)="next()">
    Next
    <ion-icon name="arrow-right"></ion-icon>
  </button>
</ion-footer>
